body {
    background: #000;
  }
  
  :root {
    --animation-dur: 2s;
  }
  
  .loader {
    width: 100px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0 -50px;
  }
  
  .loader div {
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
  }
  
  .cir1 {
    animation: animate var(--animation-dur) linear infinite;
  }
  .cir2 {
    animation: animate var(--animation-dur) linear infinite -0.4s;
  }
  .cir3 {
    animation: animate var(--animation-dur) linear infinite -0.8s;
  }
  .cir4 {
    animation: animate var(--animation-dur) linear infinite -1.2s;
  }
  .cir5 {
    animation: animate var(--animation-dur) linear infinite -1.6s;
  }
  
  @keyframes animate {
    0% {
      left: 100px;
      top: 0;
    }
    80% {
      left: 0;
      top: 0;
    }
    85% {
      left: 0;
      top: -20px;
      width: 20px;
      height: 20px;
  
      background: #fff;
    }
    90% {
      width: 40px;
      height: 15px;
      background: linear-gradient(to top, rgb(255, 1, 1), rgb(102, 81, 102));
    }
    95% {
      left: 100px;
      top: -20px;
      width: 20px;
      height: 20px;
      background: linear-gradient(to top, rgb(255, 1, 1), rgb(102, 81, 102));
    }
    100% {
      left: 100px;
      top: 0;
    }
  }